In [21]:
import mysql.connector as msql
import pandas as pd
from sqlalchemy import create_engine

In [22]:
connections = msql.connect(
    host = 'localhost',
    user = 'miguel',
    password = 'miguel'
)
if connections.is_connected():
    cursor = connections.cursor()
    print("Conexion con exito")
else:
    print("Error")

Conexion con exito

In [27]:
consulta = pd.read_sql("show databases",connections)
consulta

             Database
0  information_schema
1              miguel
2               mysql
3  performance_schema
4          phpmyadmin
5                test

In [28]:
cursor.execute("CREATE DATABASE articles")

In [38]:
engine = create_engine("mysql+mysqldb://miguel:miguel@localhost:3306/articles")

In [56]:
dftosql = pd.read_csv("articles_data.csv", sep=',', encoding='UTF-8')

In [57]:
print(dftosql)

       Unnamed: 0           source_id         source_name  \
0               0             reuters             Reuters
1               1     the-irish-times     The Irish Times
2               2     the-irish-times     The Irish Times
3               3  al-jazeera-english  Al Jazeera English
4               4            bbc-news            BBC News
...           ...                 ...                 ...
10432       10432            abc-news            ABC News
10433       10433             reuters             Reuters
10434       10434                 cnn                 CNN
10435       10435            cbs-news            CBS News
10436       10436            cbs-news            CBS News

                       author  \
0           Reuters Editorial
1          Eoin Burke-Kennedy
2           Deirdre McQuillan
3                  Al Jazeera
4                    BBC News
...                       ...
10432    The Associated Press
10433       Sumeet Chatterjee
10434  Lauren M. Johnson, CNN
10435                CBS News
10436                CBS News

                                                   title  \
0      NTSB says Autopilot engaged in 2018 California...
1           Unemployment falls to post-crash low of 5.2%
2      Louise Kennedy AW2019: Long coats, sparkling t...
3      North Korean footballer Han joins Italian gian...
4      UK government lawyer says proroguing parliamen...
...                                                  ...
10432  Drop in US service sector activity raises econ...
10433  Banker defections pose challenge for Credit Su...
10434  A 5-year-old cancer survivor donates 3,000 toy...
10435                                 Fateful Connection
10436                             Love, Hate & Obsession

                                             description  \
0      The National Transportation Safety Board said ...
1      Latest monthly figures reflect continued growt...
2      Autumn-winter collection features designerâ€™s g...
3      Han is the first North Korean player in the Se...
4      The UK government's lawyer, David Johnston arg...
...                                                  ...
10432  Get breaking national and world news, broadcas...
10433  The announcement by Julius Baer this week that...
10434  Weston Newswanger is just a normal 5-year-old ...
10435  A detective is haunted by the case of two wome...
10436  Who wanted one-time millionaire Lanny Horwitz ...

                                                     url  \
0      https://www.reuters.com/article/us-tesla-crash...
1      https://www.irishtimes.com/business/economy/un...
2      https://www.irishtimes.com/\t\t\t\t\t\t\t/life...
3      https://www.aljazeera.com/news/2019/09/north-k...
4      https://www.bbc.co.uk/news/av/uk-scotland-4956...
...                                                  ...
10432  https://abcnews.go.com/Business/wireStory/drop...
10433  https://www.reuters.com/article/us-credit-suis...
10434  https://www.cnn.com/2019/10/03/us/five-year-ol...
10435  https://www.cbsnews.com/video/fateful-connecti...
10436  https://www.cbsnews.com/video/love-hate-obsess...

                                            url_to_image  \
0      https://s4.reutersmedia.net/resources/r/?m=02&...
1      https://www.irishtimes.com/image-creator/?id=1...
2      https://www.irishtimes.com/image-creator/?id=1...
3      https://www.aljazeera.com/mritems/Images/2019/...
4      https://ichef.bbci.co.uk/news/1024/branded_new...
...                                                  ...
10432  https://s.abcnews.com/images/US/WireAP_eb147c9...
10433  https://s3.reutersmedia.net/resources/r/?m=02&...
10434  https://cdn.cnn.com/cnnnext/dam/assets/1910021...
10435  https://cbsnews1.cbsistatic.com/hub/i/r/2019/1...
10436  https://cbsnews1.cbsistatic.com/hub/i/r/2017/0...

               published_at  \
0      2019-09-03T16:22:20Z
1      2019-09-03T10:32:28Z
2      2019-09-03T14:40:00Z
3      2019-09-03T17:25:39Z
4      2019-09-03T14:39:21Z
...                     ...
10432  2019-10-03T16:30:16Z
10433  2019-10-03T15:59:52Z
10434  2019-10-03T11:20:06Z
10435  2019-10-03T16:40:03Z
10436  2019-10-03T16:35:13Z

                                                 content  top_article  \
0      WASHINGTON (Reuters) - The National Transporta...          0.0
1      The States jobless rate fell to 5.2 per cent l...          0.0
2      Louise Kennedy is showing off her autumn-winte...          1.0
3      Han Kwang Song, the first North Korean footbal...          0.0
4                                                    NaN          0.0
...                                                  ...          ...
10432  Growth in the U.S. economys vast services sect...          0.0
10433  ZURICH/HONG KONG (Reuters) - The announcement ...          0.0
10434                                                NaN          0.0
10435                                                NaN          0.0
10436                                                NaN          0.0

       engagement_reaction_count  engagement_comment_count  \
0                            0.0                       0.0
1                            6.0                      10.0
2                            NaN                       NaN
3                            0.0                       0.0
4                            0.0                       0.0
...                          ...                       ...
10432                        0.0                       0.0
10433                        0.0                       0.0
10434                     4072.0                     179.0
10435                        0.0                       0.0
10436                        0.0                       0.0

       engagement_share_count  engagement_comment_plugin_count
0                      2528.0                              0.0
1                         2.0                              0.0
2                         NaN                              NaN
3                         7.0                              0.0
4                         0.0                              0.0
...                       ...                              ...
10432                     0.0                              0.0
10433                   627.0                              0.0
10434                   466.0                              0.0
10435                     0.0                              0.0
10436                     0.0                              0.0

[10437 rows x 15 columns]

In [58]:
try:
    dftosql.to_sql('scraping',con=engine, if_exists='replace', index=False)
    print("Alamacenado con exito")
except Exception as ex:
    print(ex)

Alamacenado con exito